html {
  overflow: hidden;
}

body{
  margin: 0;
}

.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: black;
}

#terminal {
  position: relative;
  margin-bottom: 1em;
  width: 100vw;
}

#reconnect {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
  border-radius: 0;
  background-color:#3498db;
  color: white;
  border: #3498db solid 2px;
  border-radius: 0;
}

.xterm-viewport {
  overflow: hidden !important;
}

.gutter {
  background-color: #aaa;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.dropzone-active{
  border-radius: 10px;
  border: #aaa dashed;
}

#spinner {
  position: absolute;
  visibility: hidden;
  bottom: 0;
  right: 30px;
  color: white;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}